*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
}
.row div{
    margin: 1.5vh 0.5vw ;
}
.row{
    width: 100vw;
    display: inline-flex;
}
.first{
    height: 20vh;    
}
.second{
    height: 50vh;  
}
.third{
    height: 30vh;
}
@media (min-width:1025px) and (max-width:1920px){
    .cell-1-1{
        background-color: red; 
        flex: 1;
    }
    .cell-1-2{
        background-color: coral; 
        flex: 2;
    }
    .cell-2-1{
        background-color: green;
        flex: 1;
    }
    .cell-3-1{
        background-color: chocolate;
        flex: 1;
    }
    .cell-3-2{
        background-color: blue;
        flex: 1;
    }
    .cell-3-3{
        background-color: blueviolet;
        flex: 1;
    }
}
@media (min-width: 769px) and (max-width: 1024px){
    .cell-1-1{
        background-color: coral; 
        flex: 1;
    }
    .cell-1-2{
        background-color: blueviolet; 
        flex: 2;
    }
    .cell-2-1{
        background-color: red;
        flex: 1;
    }
    .cell-3-1{
        background-color: green;
        flex: 1;
    }
    .cell-3-2{
        background-color: blue;
        flex: 1;
    }
}
@media (min-width: 320px) and (max-width: 768px){
    .first{
        height: 20vh;    
    }
    .second{
        height: 20vh;  
    }
    .third{
        height: 60vh;
    }
    .cell-1-1{
        background-color: green; 
        flex: 1;
    }
    .cell-2-1{
        background-color: blueviolet; 
        flex: 1;
    }
    .cell-3-1{
        background-color: red;
        flex: 1;
    }
}